@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body{
    background-image: url('../img/de_aztec.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    margin: auto;
    width: 80%;
    background-color: white;
    margin-bottom: 20px;
}

/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
}
table th, table td{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

/* table td:nth-of-type(2n){
    text-align: justify;
} */

p {
    font-family: 'Raleway';
    text-align: justify;
}

nav ul{
    padding: 0; /* https://stackoverflow.com/questions/9620594/removing-ul-indentation-with-css */
}

nav {
    background-color: #CCBA7C;
    font-family: 'Anton';
    font-size: 20px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    color:rgb(131, 131, 131);
    text-decoration: underline;
}

header{
    text-align: center;
    /* font-family: 'Montserrat'; */
    /* width: 30%;
    margin-left: 150px; */
    color: #006dfc;
    background-color: black;
    padding-bottom: 20px;
    margin-bottom: -20px;
    /* font-size: 16px; */
    font-family: 'Titan One';
}

.first-word{
    color: red;
    font-size: 23px;
    font-family: 'Montserrat';
    animation-name: first-word-move;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    /* animation-delay: .5s; */
    position: relative;
    top: -4000px;
}

@keyframes first-word-move{
    0%{
        opacity: 0;
        top: -4000px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}

footer{
    background-color: #413A27;
    /* width: 83%;
    margin: auto; */
    /* max-width: auto; */
    margin-top: 30px;
}

footer p{
    padding: 30px;
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    font-size: 20px;
    font-weight: bold;

    /* ANIMATION */
    animation-name: footer-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    position: relative;
    bottom: -500px;
}

@keyframes footer-up{
    0%{
        bottom: -500px;
    }
    100%{
        bottom: 0px;
    }
}

header h1{
    /* ANIMATION */
    animation-name: header-move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    right: -4000px;
}

@keyframes header-move{
    0%{
        opacity: 0;
        font-size: 16px;
        right: -4000px;
    }
    100%{
        opacity: 1;
        font-size: 32px;
        right: 0px;
    }
}

/* nav ul{ */
    /* display: block; */
    /* grid-template-rows: repeat(5, 1fr); */
/* } */
nav {
    display: block;
}

nav ul li{
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

table th img, table td img{
    width: 60%;
    height: 60%;
}

/* Desktop Layout */
@media only screen and (min-width: 768px){
    nav > ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        /* position: relative; */
        /* display: block; */
    }
    /* nav { */
        /* text-align: center; */
    /* } */
    nav ul li{
        /* display: inline-block; */
        /* list-style-type: none; */
        /* text-align: center; */
        /* padding-bottom: 5px; */
        /* padding: 5px 35px 5px 35px; */
        cursor: pointer;
        /* position: relative; */
    }

    nav ul ul{
        display: none;
    }
    
    /* nav ul li{
        /* background-color:#DE9B35; */
        /* width: 170px; */
        /* text-align: center; */
        /* float: left; */
        /* position: relative; */
    /* } */

    nav ul li:hover > ul{
        position: absolute;
        display: block;
        min-width: 200px;
        /* position: relative; */
        /* left: auto; */
        /* right: auto; */
        transform: translateX(20%);
    }
    /* .dropdown{
        position: relative;
    } */
    /* .dropdown-menu{ */
        /* position: absolute; */
        /* left: 40%; */
        /* top: calc(100% + .25rem); */
        /* background-color: black; */
        /* padding: .75rem; */
        /* border-radius: .25rem; */
        /* text-align: center; */
        /* opacity: 0; */
        /* display: grid;
        grid-template-rows: auto; */
        /* grid-template-columns: auto; */
        /* display: none; */
        /* transform: translateX(-50%); */
        /* opacity: 0; */
    /* } */
    /* nav ul li div ul li a{
        color: red;
        text-align: center;
    } */
    /* ul li:hover .dropdown-menu{ */
    /* .dropdown > .hoverlink:focus + .dropdown-menu{ */
        /* display: block; */
        /* opacity: 1; */
    /* } */
    
    /* ul li ul{ */
        /* position: relative; */
        /* background-color: rgb(255, 183, 0); */
        /* margin-left: 200px; */
        /* right: 50%; */
        /* margin-top: 1rem; */
        /* right: 0; */
        /* left: 50%; */
        /* right: auto; */
    /* } */
    nav ul li ul li{
        text-align: center;
    }
    
    /* .hover:hover{
        opacity: 1;
    }
    .hover{
        position: absolute;
    } */
    /* nav ul li ul{
        visibility: hidden;
    } */
    /* table th img, table td img{
        width: 60%;
        height: 60%;
    } */

    /* nav{
        transition-property: all;
        transition-duration: 1s;
    } */

    nav ul li ul{
        background-color: #DE9B35;
    }

    nav a:hover{
        color: black;
        text-decoration: none;
    }
    nav li:hover{
        /* color:rgb(131, 131, 131); */
        /* text-decoration: underline; */
        /* font-size: 30px; */
        background-color: rgb(131, 131, 131);
        /* opacity: .8; */
    }
}