@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body{
    background-image: url('../img/de_aztec.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    margin: auto;
    width: 80%;
    background-color: white;
    margin-bottom: 20px;
}

/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
}
table th, table td{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

/* table td:nth-of-type(2n){
    text-align: justify;
} */

p {
    font-family: 'Raleway';
    text-align: justify;
}

nav ul{
    padding: 0; /* https://stackoverflow.com/questions/9620594/removing-ul-indentation-with-css */
}

nav {
    background-color: #CCBA7C;
    font-family: 'Anton';
    font-size: 20px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    color:rgb(131, 131, 131);
    text-decoration: underline;
}

header{
    text-align: center;
    /* font-family: 'Montserrat'; */
    /* width: 30%;
    margin-left: 150px; */
    color: #006dfc;
    background-color: black;
    padding-bottom: 20px;
    margin-bottom: -20px;
    /* font-size: 16px; */
    font-family: 'Titan One';
}

.first-word{
    color: white;
    font-size: 23px;
    font-family: 'Montserrat';
    animation-name: first-word-move;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    /* animation-delay: .5s; */
    position: relative;
    top: -4000px;
}

@keyframes first-word-move{
    0%{
        opacity: 0;
        top: -4000px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}

footer{
    background-color: #413A27;
    /* width: 83%;
    margin: auto; */
    /* max-width: auto; */
    margin-top: 30px;
}

footer p{
    padding: 30px;
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    font-size: 20px;
    font-weight: bold;

    /* ANIMATION */
    animation-name: footer-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    position: relative;
    bottom: -500px;
}

@keyframes footer-up{
    0%{
        bottom: -500px;
    }
    100%{
        bottom: 0px;
    }
}

header h1{
    /* ANIMATION */
    animation-name: header-move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    right: -4000px;
}

@keyframes header-move{
    0%{
        opacity: 0;
        font-size: 16px;
        right: -4000px;
    }
    100%{
        opacity: 1;
        font-size: 32px;
        right: 0px;
    }
}

nav ul{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

nav ul li{
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

table th img, table td img{
    width: 60%;
    height: 60%;
}

/* Desktop Layout */
@media only screen and (min-width: 768px){
    nav ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }
    nav ul li{
        list-style-type: none;
        text-align: center;
        /* padding-bottom: 5px; */
        padding: 5px;
    }
    
    /* nav ul li ul{
        visibility: hidden;
    } */
    /* table th img, table td img{
        width: 60%;
        height: 60%;
    } */

    nav a{
        transition-property: all;
        transition-duration: 1s;
    }

    nav a:hover{
        color:rgb(131, 131, 131);
        text-decoration: underline;
        font-size: 30px;
    }
}